<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h5 class=text-danger>You donnot have permission to see this resources</h5>
    <img style="widows:300px; height:300px;" src="~/Images/Download-Prohibition-Png-Image-17630-For-Designing-Projects.png" />
</div>